{% extends 'home.html.twig' %}

{% block title %}Bazar-Chic Website{% endblock %}

{% block stylesheets %}
    <link rel="icon" href="{{ asset('homepage/home.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="{{ asset('homepage/fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ asset('homepage/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('homepage/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('homepage/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('homepage/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('homepage/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('homepage/css/aos.css') }}">
    <link rel="stylesheet" href="{{ asset('homepage/css/style.css') }}">
{% endblock %}


{% block body %}
  <div class="site-wrap">
    

    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>  
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="" class="js-logo-clone">bazar-chic</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="has-children active">
                  <a href="#">Home</a>
                  <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                    <li class="has-children">
                      <a href="#">Sub Menu</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                
                <li><a href="#">Shop</a></li>
                <li><a href="#">Catalogue</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#New Summer Collection 2019</h2>
            <h1>Arrivals Sales</h1>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="{{ asset('homepage/images/model_3.png') }}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
          <h2 class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
        </div>

        <div class="row align-items-stretch">
          <div class="col-lg-8">
            <div class="product-item sm-height full-height bg-gray">
              <div  class="product-category">{{categories[0].getName()}} </div>
              <img src="{{ asset('category_img/' ~ categories[0].Picture ~ '') }}" alt="Image" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4">
            <div class="product-item sm-height bg-gray mb-4">
              <div class="product-category">{{categories[1].getName()}}</div>
              <img style="max-height: 250px; max-width: 300px;" src="{{ asset('category_img/' ~ categories[1].Picture ~ '') }}" alt="Image" class="img-fluid">
            </div>


            <div class="product-item sm-height bg-gray">
              <div  class="product-category">{{categories[2].getName()}}</div>
              <img src="{{ asset('category_img/' ~ categories[2].Picture ~ '') }}" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">Popular Products</h2>
          </div>
        </div>
        
        <div class="row">
		
		{% for p in  prods %}
      
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
                                          {% for img in p.getImages() %}
                                          {% if loop.first %}
              <img src="{{ asset('product_img/' ~ img.getImg() ~ '') }}" alt="Image" class="img-fluid">
                                          {% endif %}
                                          {% endfor %}
                                          
            </a>
            <h2 class="item-title"><a href="#">{{p.getPname()}}</a></h2>
            <strong class="item-price">{{p.getprice()}} TND</strong>
          </div>
		  
		    {% endfor %}


        </div>
      </div>
    </div>



    <div class="site-blocks-cover inner-page py-5" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h1>Join Us</h1>
            <p><a href="{{path("user_register")}}" class="btn btn-black rounded-0">Advertise Your Products</a></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="{{ asset('homepage/images/model_6.png') }}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fafefke St. ezfezf Vizefew, Frzefezfzeancisco, zefeze</li>
                <li class="phone"><a>+216 54 324 141</a></li>
                <li class="email">badboy.dhia@gmail.com</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </footer>
  </div>


    

{% block javascripts %}
  <script src="{{ asset('homepage/js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ asset('homepage/js/jquery-ui.js') }}"></script>
  <script src="{{ asset('homepage/js/popper.min.js') }}"></script>
  <script src="{{ asset('homepage/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('homepage/js/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('homepage/js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ asset('homepage/js/aos.js') }}"></script>
  <script src="{{ asset('homepage/js/main.js') }}"></script>        
{% endblock %}


{% endblock %}
