{% extends 'none.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                       
                    {{ render(controller('App\\Controller\\SearchController::SearchAction')) }}

                            <div class="header-button">				                 
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{{ asset('uploads/' ~ app.user.Picture ~ '') }}" alt="User Picture" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{app.user.name}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{{ asset('uploads/' ~ app.user.Picture ~ '') }}" alt="User Picture" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{app.user.name}}</a>
                                                    </h5>
                                                    <span class="email">{{app.user.email}}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="{{ path('user_show', {'id': app.user.id}) }}">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="{{ path('user_edit', {'id': app.user.id}) }}">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                            </div>
                                            
                                            <div class="account-dropdown__footer">
                                                <a href="{{path("user_logout")}}">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1"> Dashboard is not ready yet :(</h2>
                                </div>
                            </div>
                        </div>						
                    </div>
                </div>
            </div>
{% endblock %}
